<% if (success && success.length> 0) { %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong style="text-align: center;">
      <%= success[0] %>
    </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>

    <% if (error_upload_video && error_upload_video.length> 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong style="text-align: center;">
          <%= error_upload_video %>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <% } %>
        <% if(upload_video && upload_video.length>0){ %>
          <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong style="text-align: center;">
              <%= upload_video %>
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
            <% if(review && review.length>0){ %>
              <div class="modal top fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true" data-mdb-backdrop="true" data-mdb-keyboard="true" style="display: block;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                      <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= review %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-mdb-dismiss="modal">
                        Close
                      </button>

                    </div>
                  </div>
                </div>
              </div>
              <script>
                document.addEventListener('DOMContentLoaded', function () {
                  const modalElement = document.getElementById('exampleModal');
                  const modalInstance = new mdb.Modal(modalElement);
                  modalInstance.show();
                });
              </script>
              <% } %>
                <% if (review_error && review_error.length> 0) { %>
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong style="text-align: center;">
                      <%= review_error %>
                    </strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                  <% } %>

                    <% if(success_comment && success_comment.length>0){ %>
                      <div class="modal top fade show" id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true" data-mdb-backdrop="true"
                        data-mdb-keyboard="true" style="display: block;">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Success</h5>
                              <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <%= success_comment %>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-success" data-mdb-dismiss="modal">
                                Close
                              </button>

                            </div>
                          </div>
                        </div>
                      </div>
                      <script>
                        document.addEventListener('DOMContentLoaded', function () {
                          const modalElement = document.getElementById('exampleModal');
                          const modalInstance = new mdb.Modal(modalElement);
                          modalInstance.show();
                        });
                      </script>
                      <% } %>
                        <% if (comment_error && comment_error.length> 0) { %>
                          <div class="alert alert-danger alert-dismissible fade show" role="alert">

                            <strong style="text-align: center;">
                              <i class="fab fa-mdb"></i>
                              <%= error %>
                            </strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                          <% } %>




                            <!-- End Example Code -->